.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3f4e6b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(37, 33, 33);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.tituloPerfil{
  color: ghostwhite;
  background-color: darkslategrey;
  border: solid;
  border-width: thin;
}

.descripcionPerfil {
  width: 450px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: ghostwhite;
  letter-spacing: 2px;
  
  
}
.texto{
  display: flex;
  margin-left: 740px;
  margin-top: 80px;
  position: absolute;
  font-size: 25px;
}

.perfil{
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenRedes{
  height: 200px;
  width: 200px;
  
}

.fotosCarro{
  height: 350px;
  width: 500px;
}

.botonCarro{
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  
}